.tag {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 20px;
}

.small {
	padding: 5px 12px;
	font-size: 12px;
	line-height: 12px;
}

.medium {
	padding: 5px 12px;
	font-size: 14px;
	line-height: 14px;
}

.ghost {
	color: var(--white);
	background-color: var(--black);
	border: 1px solid var(--gray-light);
}

.red {
	font-weight: bold;
	color: var(--white);
	background-color: #de0000;
}

.gray {
	font-weight: bold;
	color: var(--white);
	background: #b3c0d9;
}

.green {
	font-weight: bold;
	color: var(--green);
	background: var(--green-light);
}

.primary {
	font-weight: 500;
	color: var(--primary);
	background: none;
	border: 1px solid var(--primary);
}
