.filled {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.button_star {
	margin-right: 5px;
	background: none;
	border: none;
}

.error {
	position: relative;
}

.error svg {
	stroke: var(--red);
}

.input_wrapper {
	position: relative;
}

.error_message {
	position: absolute;
	bottom: -20px;
	left: 0;

	font-weight: bold;
	color: var(--red);
}
