.header {
	display: none;
	grid-template-columns: 1fr 40px;
	gap: 10px;
	margin: 15px 15px 0;
}

.mobile_menu {
	position: fixed;
	z-index: 10;
	inset: 0;

	overflow-y: scroll;
	overflow-x: hidden;

	padding: 20px 10px;

	background: #f5f6f8;
}

.menu_close {
	position: fixed;
	z-index: 11;
	right: 15px;
	top: 15px;
}

@media (width <= 765px) {
	.header {
		display: grid;
	}
}
