.textarea {
	width: 100%;
	min-height: 76px;
	padding: 7px 15px;

	font-family: var(--font-note);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	color: var(--black);

	background: var(--white);
	border: none;
	border-radius: 5px;
	outline-color: var(--primary);
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
}

.textarea::placeholder {
	font-family: var(--font-note);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	color: var(--gray);
}

.error {
	border: 1px solid var(--red);
	outline-color: var(--red);
}

.input_wrapper {
	position: relative;
}

.error_message {
	position: absolute;
	bottom: -15px;
	left: 0;

	font-weight: bold;
	color: var(--red);
}
