.first_level {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
}

.first_level__active,
.first_level:hover {
	color: var(--primary);
}

.first_level__active svg,
.first_level:hover svg {
	fill: var(--primary);
}

.second_level {
	cursor: pointer;

	margin-bottom: 10px;

	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: normal;
	color: var(--gray-dark);
	text-transform: uppercase;
}

.second_block {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px;
	border-left: 1px solid #dfdfdf;
}

.third_level {
	cursor: pointer;

	display: block;

	margin-bottom: 10px;

	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	color: var(--gray-dark);
}

.second_level_block {
	display: none;
}

.second_level_block__opened {
	display: block;
}

.second_level_block__opened:last-child {
	margin-bottom: 20px;
}

.third_level_active,
.third_level:hover {
	color: var(--primary);
}
