.sort-icon {
	display: none;
}

.active {
	font-weight: bold;
	color: var(--primary);
}

.active .sort-icon {
	display: block;
}

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort span {
	cursor: pointer;

	display: flex;
	gap: 8px;
	align-items: center;

	white-space: nowrap;
}

