.sort-icon {
	display: none;
}

.active {
	font-weight: bold;
	color: var(--primary);
}

.active .sort-icon {
	display: block;
}

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort button {
	cursor: pointer;

	display: flex;
	gap: 8px;
	align-items: center;

	font-size: 16px;
	line-height: 22px;
	white-space: nowrap;

	background: none;
	border: none;
}

.sortName {
	display: none;
}
